<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @dictator.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Description</th>
            <td><%= @dictator.description %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= @dictator.description %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td><%= @dictator.price_per_day %></td>
          </tr>
        </tbody>
      </table>

      <div class="list-group">
        <% @dictator.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.comment %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [@dictator, @comment] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :comment%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all Dictators", dictators_path %>
    </div>
  </div>
</div>
